# stocks 정보 최신화

In [3]:
# pykrx to mysql
from sqlalchemy import create_engine
import pymysql
import pandas as pd
from pykrx import stock
import time
from openpyxl import load_workbook
from datetime import datetime, timedelta

ADDR = '192.168.56.100'
PORT = '3306'
DB = 'INDEX_DUCK'
ID = 'root'
PW = 'root'
# PW = 'test'

start = '20211015'
end = '20211018'
# end = str(datetime.now().date()).replace('-', '')
period = pd.date_range(start=start, end=end).strftime("%Y%m%d").tolist()

for date in period:
  try:
    db_connection = create_engine('mysql+pymysql://'+ ID +':'+ PW +'@'+ ADDR +':'+ PORT +'/'+ DB, encoding='utf-8')
    conn = db_connection.connect()
    df = stock.get_market_ohlcv_by_ticker(date, market="KOSPI")
    time.sleep(0.5)
    if (df['시가'][0] == 0):
      continue
    df['date'] = date
    df = df.reset_index().set_index('date').drop(['거래대금', '등락률'], axis=1).rename(columns={'티커':'ticker', '시가':'open', '고가':'high', '저가':'low', '종가':'close', '거래량':'volume'})
    df.to_sql(name='stocks_price', con=db_connection, if_exists='append', index=True, index_label="date")
    conn.close()
  except Exception as ex:
    print(ex, date)
    pass

# 볼린저밴드 구하기

In [4]:
import pandas as pd
import pymysql
from datetime import datetime, timedelta

ADDR = '192.168.56.100'
PORT = '3306'
DB = 'INDEX_DUCK'
ID = 'root'
PW = 'root'
# PW = 'test'

db = pymysql.connect(host=ADDR, port=int(PORT), user=ID, passwd=PW, db=DB, charset='utf8')
cursor = db.cursor()
try:
  getTickersSql = "SELECT DISTINCT ticker FROM stocks_price"
  cursor.execute(getTickersSql)
  tickers = list(cursor.fetchall())

  getPeriodSql = "SELECT DISTINCT date FROM stocks_price ORDER BY date DESC"
  cursor.execute(getPeriodSql)
  period = list(cursor.fetchall())

  for ticker in tickers:
    for date in period:
      # print(ticker[0], date[0].strftime("%Y%m%d"))
      try:
        getLast20InfoSql = "SELECT * FROM stocks_price WHERE ticker = '" + ticker[0] + "' AND date <= '" + date[0].strftime("%Y%m%d") + "' ORDER BY date DESC limit 20"
        cursor.execute(getLast20InfoSql)
        last20InfoDf = pd.DataFrame(cursor.fetchall())
        if len(last20InfoDf.index) < 20:
            continue
        last20InfoDfClose = last20InfoDf.loc[:, 5]

        avg = last20InfoDfClose.mean()
        std = last20InfoDfClose.std()
        tmpInfo = last20InfoDf.loc[0, [0, 1, 5]]
        hi = round(avg + std * 2)
        me = round(avg)
        lo = round(avg - std * 2)
        bw = (hi - lo) / me
        pos = (tmpInfo[5] - lo) / (hi - lo)
        insertBollSql = "REPLACE INTO boll(date, ticker, close, low, medium, high, bandWidth, position) VALUES(%s, %s, %s, %s, %s, %s, %s, %s)"
        cursor.execute(insertBollSql, (tmpInfo[0], tmpInfo[1], tmpInfo[5], lo, me, hi, bw, pos))
        db.commit()
      except Exception as ex1:
        print('ex1', ex1, ticker[0], date[0].strftime("%Y%m%d"))
        # print(tmpInfo[0], tmpInfo[1], tmpInfo[2], hi, me, lo, bw)
        pass
except Exception as ex2:
  print('ex2', ex2)
  pass

db.close()

In [44]:
# last20InfoDf.loc[:, [0, 1, 2, 3]]
# last20InfoDf
# last20InfoDfClose = last20InfoDf.loc[:, 3]
# tmpInfo[5]
# avg = last20InfoDfClose.mean()
# std = last20InfoDfClose.std()

# # print(type(avg))
# hi = round(avg + std * 2)
# mi = round(avg)
# lo = round(avg - std * 2)
# print(hi, mi, lo)
# last20InfoDf.loc[0, [0, 1, 2, 3]]

[('267270',), ('267290',), ('267850',), ('268280',), ('271560',), ('271940',), ('271980',), ('272210',), ('272450',), ('272550',), ('280360',), ('281820',), ('282330',), ('282690',), ('284740',), ('285130',), ('28513K',), ('286940',), ('293480',), ('293940',), ('294870',), ('298000',), ('298020',), ('298040',), ('298050',), ('298690',), ('300720',), ('302440',), ('306200',), ('307950',), ('308170',), ('316140',), ('317400',), ('322000',), ('323410',), ('326030',), ('329180',), ('330590',), ('334890',), ('336260',), ('33626K',), ('33626L',), ('336370',), ('33637K',), ('33637L',), ('338100',), ('339770',), ('344820',), ('348950',), ('350520',), ('352820',), ('353200',), ('35320K',), ('357120',), ('357250',), ('361610',), ('363280',), ('36328K',), ('365550',), ('372910',), ('375500',), ('37550K',), ('377190',), ('378850',), ('380440',), ('381970',), ('383220',), ('383800',), ('38380K',), ('395400',), ('900140',), ('950210',)]

# Z-SCORE
- (현재값 - 평균) / 표준편차

In [6]:
import pandas as pd
import pymysql
import datetime

ADDR = '192.168.56.100'
PORT = '3306'
DB = 'INDEX_DUCK'
ID = 'root'
PW = 'root'
# PW = 'test'

db = pymysql.connect(host=ADDR, port=int(PORT), user=ID, passwd=PW, db=DB, charset='utf8')
cursor = db.cursor()

n_days = [10, 20, 30, 90, 180]

try:
  getTickersSql = "SELECT DISTINCT ticker FROM stocks_price"
  cursor.execute(getTickersSql)
  tickers = list(cursor.fetchall())

  getPeriodSql = "SELECT DISTINCT date FROM stocks_price ORDER BY date DESC"
  cursor.execute(getPeriodSql)
  period = list(cursor.fetchall())

  for ticker in tickers:
    for date in period:
      for day in n_days:
        # print(ticker[0], date[0].strftime("%Y%m%d"))
        try:
          getLastNBollSql = "SELECT * FROM boll WHERE ticker = '" + ticker[0] + "' AND date <= '" + date[0].strftime("%Y%m%d") + "' ORDER BY date DESC limit " + str(day)
          cursor.execute(getLastNBollSql)
          lastNBollDf = pd.DataFrame(cursor.fetchall())
          if len(lastNBollDf.index) < day:
            continue
          lastNBollBandWidthDf = lastNBollDf.loc[:, 6]

          avg = lastNBollBandWidthDf.mean()
          std = lastNBollBandWidthDf.std()
          tmpInfo = lastNBollDf.loc[0, [0, 1, 6]]
          z_score = (tmpInfo[6] - avg) / std
          
          insertBollSql = "REPLACE INTO z_score(date, ticker, period, bandWidth, z_score) VALUES(%s, %s, %s, %s, %s)"
          cursor.execute(insertBollSql, (tmpInfo[0], tmpInfo[1], day, tmpInfo[6], z_score))
          db.commit()
        except Exception as ex1:
          print('ex1', ex1, ticker[0], date[0].strftime("%Y%m%d"))
          # print(tmpInfo[0], tmpInfo[1], tmpInfo[2], hi, me, lo, bw)
          pass
except Exception as ex2:
  print('ex2', ex2)
  pass

db.close()

C:\Users\Jack\AppData\Local\Temp/ipykernel_19356/234392392.py:41: RuntimeWarning: invalid value encountered in double_scalars
  z_score = (tmpInfo[6] - avg) / std

ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200324
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200324
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200324
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200323
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200323
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200323
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200320
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200320
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200320
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200319
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200319
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200319
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200318
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200318
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200318
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200317
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200317
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200316
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200316
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200313
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200313
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200312
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200312
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200311
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200311
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200310
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200310
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200309
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200309
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200306
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200306
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200305
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200305
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200304
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200304
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200303
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200302
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200228
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200227
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200226
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200225
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200224
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200221
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200220
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 001770 20200219
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20211018
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20211018
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20211015
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20211015
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20211014
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20211014
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20211013
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20211013
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20211012
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20211012
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20211008
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20211008
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20211007
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20211007
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20211006
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20211006
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20211005
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20211005
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20211001
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20211001
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210930
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210930
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210929
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210929
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210928
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210928
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210927
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210927
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210924
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210924
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210923
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210923
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210917
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210917
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210916
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210916
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210915
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210915
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210914
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210914
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210913
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210913
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210910
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210910
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210909
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210909
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210908
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210908
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210907
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210907
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210906
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210906
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210903
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210903
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210902
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210902
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210901
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210901
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210831
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210831
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210830
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210830
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210827
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210827
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210826
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210826
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210825
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210825
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210824
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210824
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210823
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210823
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210820
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210820
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210819
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210819
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210818
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210818
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210817
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210817
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210813
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210813
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210812
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210812
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210811
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210811
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210810
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210810
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210809
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210809
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210806
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210806
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210805
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210805
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210804
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210804
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210803
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210803
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210802
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210802
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210730
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210730
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210729
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210729
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210728
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210728
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210727
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210727
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210726
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210726
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210723
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210723
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210722
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210722
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210721
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210721
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210720
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210720
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210719
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210719
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210716
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210716
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210715
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210715
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210714
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210714
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210713
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210713
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210712
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210712
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`z_score`.`z_score` at row 1") 002250 20210709

# MFI
- TP(Typical price) = (당일 고가 + 당일 저가 + 당일 종가) / 3
- RMF = TP * 당일 거래량
  - Positive RMF: 당일 TP > 전일 TP
  - Negative RMF: 당일 TP < 전일 TP
- MFI = n일간 positive RMF 합계 / (n일간 positive RMF 합계 + n일간 negative RMF 합계) * 100

In [84]:
import pandas as pd
import pymysql
import datetime

ADDR = '192.168.56.100'
PORT = '3306'
DB = 'INDEX_DUCK'
ID = 'root'
# PW = 'root'
PW = 'test'

db = pymysql.connect(host=ADDR, port=int(PORT), user=ID, passwd=PW, db=DB, charset='utf8')
cursor = db.cursor()

n_days = [10]

try:
  getTickersSql = "SELECT DISTINCT ticker FROM stocks_price"
  cursor.execute(getTickersSql)
  tickers = list(cursor.fetchall())

  getPeriodSql = "SELECT DISTINCT date FROM stocks_price ORDER BY date DESC"
  cursor.execute(getPeriodSql)
  period = list(cursor.fetchall())

  for ticker in tickers:
    for date in period:
      for day in n_days:
        # print(ticker[0], date[0].strftime("%Y%m%d"))
        try:
          getLast10InfoSql = "SELECT * FROM stocks_price WHERE ticker = '" + ticker[0] + "' AND date <= '" + date[0].strftime("%Y%m%d") + "' ORDER BY date DESC limit " + str(day + 1)
          cursor.execute(getLast10InfoSql)
          last10InfoDf = pd.DataFrame(cursor.fetchall())
          if len(last10InfoDf.index) < day + 1:
            continue
          tpList = []
          for idx in last10InfoDf.index:
            info = last10InfoDf.loc[idx]
            tpList.append(round((info[3] + info[4] + info[5]) / 3))
          last10InfoDf['TP'] = tpList

          positiveRMF = 0
          negativeRMF = 0
          for idx in range(0, len(last10InfoDf) - 1):
            today = last10InfoDf.iloc[idx]
            yesterday = last10InfoDf.iloc[idx + 1]
            if today['TP'] > yesterday['TP']:
              # positive
              positiveRMF += today['TP'] * today[6]
            elif today['TP'] < yesterday['TP']:
              # negative
              negativeRMF += today['TP'] * today[6]
          
          MFI = positiveRMF / (positiveRMF + negativeRMF) * 100
          todayInfo = last10InfoDf.iloc[0, [0, 1, 7]]

          insertBollSql = "REPLACE INTO mfi(date, ticker, period, tp, mfi) VALUES(%s, %s, %s, %s, %s)"
          cursor.execute(insertBollSql, (todayInfo[0], todayInfo[1], day, todayInfo['TP'], MFI))
          db.commit()
        except Exception as ex1:
          print('ex1', ex1, ticker[0], date[0].strftime("%Y%m%d"))
          pass
except Exception as ex2:
  print('ex2', ex2)
  pass

db.close()

ex1 division by zero 000030 20211018
ex1 division by zero 000030 20211015
ex1 division by zero 000030 20211014
ex1 division by zero 000030 20211013
ex1 division by zero 000030 20211012
ex1 division by zero 000030 20211008
ex1 division by zero 000030 20211007
ex1 division by zero 000030 20211006
ex1 division by zero 000030 20211005
ex1 division by zero 000030 20211001
ex1 division by zero 000030 20210930
ex1 division by zero 000030 20210929
ex1 division by zero 000030 20210928
ex1 division by zero 000030 20210927
ex1 division by zero 000030 20210924
ex1 division by zero 000030 20210923
ex1 division by zero 000030 20210917
ex1 division by zero 000030 20210916
ex1 division by zero 000030 20210915
ex1 division by zero 000030 20210914
ex1 division by zero 000030 20210913
ex1 division by zero 000030 20210910
ex1 division by zero 000030 20210909
ex1 division by zero 000030 20210908
ex1 division by zero 000030 20210907
ex1 division by zero 000030 20210906
ex1 division by zero 000030 20210903
ex1 division by zero 000030 20210902
ex1 division by zero 000030 20210901
ex1 division by zero 000030 20210831
ex1 division by zero 000030 20210830
ex1 division by zero 000030 20210827
ex1 division by zero 000030 20210826
ex1 division by zero 000030 20210825
ex1 division by zero 000030 20210824
ex1 division by zero 000030 20210823
ex1 division by zero 000030 20210820
ex1 division by zero 000030 20210819
ex1 division by zero 000030 20210818
ex1 division by zero 000030 20210817
ex1 division by zero 000030 20210813
ex1 division by zero 000030 20210812
ex1 division by zero 000030 20210811
ex1 division by zero 000030 20210810
ex1 division by zero 000030 20210809
ex1 division by zero 000030 20210806
ex1 division by zero 000030 20210805
ex1 division by zero 000030 20210804
ex1 division by zero 000030 20210803
ex1 division by zero 000030 20210802
ex1 division by zero 000030 20210730
ex1 division by zero 000030 20210729
ex1 division by zero 000030 20210728
ex1 division by zero 000030 20210727
ex1 division by zero 000030 20210726
ex1 division by zero 000030 20210723
ex1 division by zero 000030 20210722
ex1 division by zero 000030 20210721
ex1 division by zero 000030 20210720
ex1 division by zero 000030 20210719
ex1 division by zero 000030 20210716
ex1 division by zero 000030 20210715
ex1 division by zero 000030 20210714
ex1 division by zero 000030 20210713
ex1 division by zero 000030 20210712
ex1 division by zero 000030 20210709
ex1 division by zero 000030 20210708
ex1 division by zero 000030 20210707
ex1 division by zero 000030 20210706
ex1 division by zero 000030 20210705
ex1 division by zero 000030 20210702
ex1 division by zero 000030 20210701
ex1 division by zero 000030 20210630
ex1 division by zero 000030 20210629
ex1 division by zero 000030 20210628
ex1 division by zero 000030 20210625
ex1 division by zero 000030 20210624
ex1 division by zero 000030 20210623
ex1 division by zero 000030 20210622
ex1 division by zero 000030 20210621
ex1 division by zero 000030 20210618
ex1 division by zero 000030 20210617
ex1 division by zero 000030 20210616
ex1 division by zero 000030 20210615
ex1 division by zero 000030 20210614
ex1 division by zero 000030 20210611
ex1 division by zero 000030 20210610
ex1 division by zero 000030 20210609
ex1 division by zero 000030 20210608
ex1 division by zero 000030 20210607
ex1 division by zero 000030 20210604
ex1 division by zero 000030 20210603
ex1 division by zero 000030 20210602
ex1 division by zero 000030 20210601
ex1 division by zero 000030 20210531
ex1 division by zero 000030 20210528
ex1 division by zero 000030 20210527
ex1 division by zero 000030 20210526
ex1 division by zero 000030 20210525
ex1 division by zero 000030 20210524
ex1 division by zero 000030 20210521
ex1 division by zero 000030 20210520
ex1 division by zero 000030 20210518
ex1 division by zero 000030 20210517
ex1 division by zero 000030 20210514
ex1 division by zero 000030 20210513
ex1 division by zero 000030 20210512
ex1 division by zero 000030 20210511
ex1 division by zero 000030 20210510
ex1 division by zero 000030 20210507
ex1 division by zero 000030 20210506
ex1 division by zero 000030 20210504
ex1 division by zero 000030 20210503
ex1 division by zero 000030 20210430
ex1 division by zero 000030 20210429
ex1 division by zero 000030 20210428
ex1 division by zero 000030 20210427
ex1 division by zero 000030 20210426
ex1 division by zero 000030 20210423
ex1 division by zero 000030 20210422
ex1 division by zero 000030 20210421
ex1 division by zero 000030 20210420
ex1 division by zero 000030 20210419
ex1 division by zero 000030 20210416
ex1 division by zero 000030 20210415
ex1 division by zero 000030 20210414
ex1 division by zero 000030 20210413
ex1 division by zero 000030 20210412
ex1 division by zero 000030 20210409
ex1 division by zero 000030 20210408
ex1 division by zero 000030 20210407
ex1 division by zero 000030 20210406
ex1 division by zero 000030 20210405
ex1 division by zero 000030 20210402
ex1 division by zero 000030 20210401
ex1 division by zero 000030 20210331
ex1 division by zero 000030 20210330
ex1 division by zero 000030 20210329
ex1 division by zero 000030 20210326
ex1 division by zero 000030 20210325
ex1 division by zero 000030 20210324
ex1 division by zero 000030 20210323
ex1 division by zero 000030 20210322
ex1 division by zero 000030 20210319
ex1 division by zero 000030 20210318
ex1 division by zero 000030 20210317
ex1 division by zero 000030 20210316
ex1 division by zero 000030 20210315
ex1 division by zero 000030 20210312
ex1 division by zero 000030 20210311
ex1 division by zero 000030 20210310
ex1 division by zero 000030 20210309
ex1 division by zero 000030 20210308
ex1 division by zero 000030 20210305
ex1 division by zero 000030 20210304
ex1 division by zero 000030 20210303
ex1 division by zero 000030 20210302
ex1 division by zero 000030 20210226
ex1 division by zero 000030 20210225
ex1 division by zero 000030 20210224
ex1 division by zero 000030 20210223
ex1 division by zero 000030 20210222
ex1 division by zero 000030 20210219
ex1 division by zero 000030 20210218
ex1 division by zero 000030 20210217
ex1 division by zero 000030 20210216
ex1 division by zero 000030 20210215
ex1 division by zero 000030 20210210
ex1 division by zero 000030 20210209
ex1 division by zero 000030 20210208
ex1 division by zero 000030 20210205
ex1 division by zero 000030 20210204
ex1 division by zero 000030 20210203
ex1 division by zero 000030 20210202
ex1 division by zero 000030 20210201
ex1 division by zero 000030 20210129
ex1 division by zero 000030 20210128
ex1 division by zero 000030 20210127
ex1 division by zero 000030 20210126
ex1 division by zero 000030 20210125
ex1 division by zero 000030 20210122
ex1 division by zero 000030 20210121
ex1 division by zero 000030 20210120
ex1 division by zero 000030 20210119
ex1 division by zero 000030 20210118
ex1 division by zero 000030 20210115
ex1 division by zero 000030 20210114
ex1 division by zero 000030 20210113
ex1 division by zero 000030 20210112
ex1 division by zero 000030 20210111
ex1 division by zero 000030 20210108
ex1 division by zero 000030 20210107
ex1 division by zero 000030 20210106
ex1 division by zero 000030 20210105
ex1 division by zero 000030 20210104
ex1 division by zero 000030 20201230
ex1 division by zero 000030 20201229
ex1 division by zero 000030 20201228
ex1 division by zero 000030 20201224
ex1 division by zero 000030 20201223
ex1 division by zero 000030 20201222
ex1 division by zero 000030 20201221
ex1 division by zero 000030 20201218
ex1 division by zero 000030 20201217
ex1 division by zero 000030 20201216
ex1 division by zero 000030 20201215
ex1 division by zero 000030 20201214
ex1 division by zero 000030 20201211
ex1 division by zero 000030 20201210
ex1 division by zero 000030 20201209
ex1 division by zero 000030 20201208
ex1 division by zero 000030 20201207
ex1 division by zero 000030 20201204
ex1 division by zero 000030 20201203
ex1 division by zero 000030 20201202
ex1 division by zero 000030 20201201
ex1 division by zero 000030 20201130
ex1 division by zero 000030 20201127
ex1 division by zero 000030 20201126
ex1 division by zero 000030 20201125
ex1 division by zero 000030 20201124
ex1 division by zero 000030 20201123
ex1 division by zero 000030 20201120
ex1 division by zero 000030 20201119
ex1 division by zero 000030 20201118
ex1 division by zero 000030 20201117
ex1 division by zero 000030 20201116
ex1 division by zero 000030 20201113
ex1 division by zero 000030 20201112
ex1 division by zero 000030 20201111
ex1 division by zero 000030 20201110
ex1 division by zero 000030 20201109
ex1 division by zero 000030 20201106
ex1 division by zero 000030 20201105
ex1 division by zero 000030 20201104
ex1 division by zero 000030 20201103
ex1 division by zero 000030 20201102
ex1 division by zero 000030 20201030
ex1 division by zero 000030 20201029
ex1 division by zero 000030 20201028
ex1 division by zero 000030 20201027
ex1 division by zero 000030 20201026
ex1 division by zero 000030 20201023
ex1 division by zero 000030 20201022
ex1 division by zero 000030 20201021
ex1 division by zero 000030 20201020
ex1 division by zero 000030 20201019
ex1 division by zero 000030 20201016
ex1 division by zero 000030 20201015
ex1 division by zero 000030 20201014
ex1 division by zero 000030 20201013
ex1 division by zero 000030 20201012
ex1 division by zero 000030 20201008
ex1 division by zero 000030 20201007
ex1 division by zero 000030 20201006
ex1 division by zero 000030 20201005
ex1 division by zero 000030 20200929
ex1 division by zero 000030 20200928
ex1 division by zero 000030 20200925
ex1 division by zero 000030 20200924
ex1 division by zero 000030 20200923
ex1 division by zero 000030 20200922
ex1 division by zero 000030 20200921
ex1 division by zero 000030 20200918
ex1 division by zero 000030 20200917
ex1 division by zero 000030 20200916
ex1 division by zero 000030 20200915
ex1 division by zero 000030 20200914
ex1 division by zero 000030 20200911
ex1 division by zero 000030 20200910
ex1 division by zero 000030 20200909
ex1 division by zero 000030 20200908
ex1 division by zero 000030 20200907
ex1 division by zero 000030 20200904
ex1 division by zero 000030 20200903
ex1 division by zero 000030 20200902
ex1 division by zero 000030 20200901
ex1 division by zero 000030 20200831
ex1 division by zero 000030 20200828
ex1 division by zero 000030 20200827
ex1 division by zero 000030 20200826
ex1 division by zero 000030 20200825
ex1 division by zero 000030 20200824
ex1 division by zero 000030 20200821
ex1 division by zero 000030 20200820
ex1 division by zero 000030 20200819
ex1 division by zero 000030 20200818
ex1 division by zero 000030 20200814
ex1 division by zero 000030 20200813
ex1 division by zero 000030 20200812
ex1 division by zero 000030 20200811
ex1 division by zero 000030 20200810
ex1 division by zero 000030 20200807
ex1 division by zero 000030 20200806
ex1 division by zero 000030 20200805
ex1 division by zero 000030 20200804
ex1 division by zero 000030 20200803
ex1 division by zero 000030 20200731
ex1 division by zero 000030 20200730
ex1 division by zero 000030 20200729
ex1 division by zero 000030 20200728
ex1 division by zero 000030 20200727
ex1 division by zero 000030 20200724
ex1 division by zero 000030 20200723
ex1 division by zero 000030 20200722
ex1 division by zero 000030 20200721
ex1 division by zero 000030 20200720
ex1 division by zero 000030 20200717
ex1 division by zero 000030 20200716
ex1 division by zero 000030 20200715
ex1 division by zero 000030 20200714
ex1 division by zero 000030 20200713
ex1 division by zero 000030 20200710
ex1 division by zero 000030 20200709
ex1 division by zero 000030 20200708
ex1 division by zero 000030 20200707
ex1 division by zero 000030 20200706
ex1 division by zero 000030 20200703
ex1 division by zero 000030 20200702
ex1 division by zero 000030 20200701
ex1 division by zero 000030 20200630
ex1 division by zero 000030 20200629
ex1 division by zero 000030 20200626
ex1 division by zero 000030 20200625
ex1 division by zero 000030 20200624
ex1 division by zero 000030 20200623
ex1 division by zero 000030 20200622
ex1 division by zero 000030 20200619
ex1 division by zero 000030 20200618
ex1 division by zero 000030 20200617
ex1 division by zero 000030 20200616
ex1 division by zero 000030 20200615
ex1 division by zero 000030 20200612
ex1 division by zero 000030 20200611
ex1 division by zero 000030 20200610
ex1 division by zero 000030 20200609
ex1 division by zero 000030 20200608
ex1 division by zero 000030 20200605
ex1 division by zero 000030 20200604
ex1 division by zero 000030 20200603
ex1 division by zero 000030 20200602
ex1 division by zero 000030 20200601
ex1 division by zero 000030 20200529
ex1 division by zero 000030 20200528
ex1 division by zero 000030 20200527
ex1 division by zero 000030 20200526
ex1 division by zero 000030 20200525
ex1 division by zero 000030 20200522
ex1 division by zero 000030 20200521
ex1 division by zero 000030 20200520
ex1 division by zero 000030 20200519
ex1 division by zero 000030 20200518
ex1 division by zero 000030 20200515
ex1 division by zero 000030 20200514
ex1 division by zero 000030 20200513
ex1 division by zero 000030 20200512
ex1 division by zero 000030 20200511
ex1 division by zero 000030 20200508
ex1 division by zero 000030 20200507
ex1 division by zero 000030 20200506
ex1 division by zero 000030 20200504
ex1 division by zero 000030 20200429
ex1 division by zero 000030 20200428
ex1 division by zero 000030 20200427
ex1 division by zero 000030 20200424
ex1 division by zero 000030 20200423
ex1 division by zero 000030 20200422
ex1 division by zero 000030 20200421
ex1 division by zero 000030 20200420
ex1 division by zero 000030 20200417
ex1 division by zero 000030 20200416
ex1 division by zero 000030 20200414
ex1 division by zero 000030 20200413
ex1 division by zero 000030 20200410
ex1 division by zero 000030 20200409
ex1 division by zero 000030 20200408
ex1 division by zero 000030 20200407
ex1 division by zero 000030 20200406
ex1 division by zero 000030 20200403
ex1 division by zero 000030 20200402
ex1 division by zero 000030 20200401
ex1 division by zero 000030 20200331
ex1 division by zero 000030 20200330
ex1 division by zero 000030 20200327
ex1 division by zero 000030 20200326
ex1 division by zero 000030 20200325
ex1 division by zero 000030 20200324
ex1 division by zero 000030 20200323
ex1 division by zero 000030 20200320
ex1 division by zero 000030 20200319
ex1 division by zero 000030 20200318
ex1 division by zero 000030 20200317
ex1 division by zero 000030 20200316
ex1 division by zero 000030 20200313
ex1 division by zero 000030 20200312
ex1 division by zero 000030 20200311
ex1 division by zero 000030 20200310
ex1 division by zero 000030 20200309
ex1 division by zero 000030 20200306
ex1 division by zero 000030 20200305
ex1 division by zero 000030 20200304
ex1 division by zero 000030 20200303
ex1 division by zero 000030 20200302
ex1 division by zero 000030 20200228
ex1 division by zero 000030 20200227
ex1 division by zero 000030 20200226
ex1 division by zero 000030 20200225
ex1 division by zero 000030 20200224
ex1 division by zero 000030 20200221
ex1 division by zero 000030 20200220
ex1 division by zero 000030 20200219
ex1 division by zero 000030 20200218
ex1 division by zero 000030 20200217
ex1 division by zero 000030 20200214
ex1 division by zero 000030 20200213
ex1 division by zero 000030 20200212
ex1 division by zero 000030 20200211
ex1 division by zero 000030 20200210
ex1 division by zero 000030 20200207
ex1 division by zero 000030 20200206
ex1 division by zero 000030 20200205
ex1 division by zero 000030 20200204
ex1 division by zero 000030 20200203
ex1 division by zero 000030 20200131
ex1 division by zero 000030 20200130
ex1 division by zero 000030 20200129
ex1 division by zero 000030 20200128
ex1 division by zero 000030 20200123
ex1 division by zero 000030 20200122
ex1 division by zero 000030 20200121
ex1 division by zero 000030 20200120
ex1 division by zero 000030 20200117
ex1 division by zero 000030 20200116
ex1 division by zero 000030 20200115
ex1 division by zero 000030 20200114
ex1 division by zero 000030 20200113
ex1 division by zero 000030 20200110
ex1 division by zero 000030 20200109
ex1 division by zero 000030 20200108
ex1 division by zero 000030 20200107
ex1 division by zero 000030 20200106
ex1 division by zero 000030 20200103
ex1 division by zero 000030 20200102
ex1 division by zero 000030 20191230
ex1 division by zero 000030 20191227
ex1 division by zero 000030 20191226
ex1 division by zero 000030 20191224
ex1 division by zero 000030 20191223
ex1 division by zero 000030 20191220
ex1 division by zero 000030 20191219
ex1 division by zero 000030 20191218
ex1 division by zero 000030 20191217
ex1 division by zero 000030 20191216
ex1 division by zero 000030 20191213
ex1 division by zero 000030 20191212
ex1 division by zero 000030 20191211
ex1 division by zero 000030 20191210
ex1 division by zero 000030 20191209
ex1 division by zero 000030 20191206
ex1 division by zero 000030 20191205
ex1 division by zero 000030 20191204
ex1 division by zero 000030 20191203
ex1 division by zero 000030 20191202
ex1 division by zero 000030 20191129
ex1 division by zero 000030 20191128
ex1 division by zero 000030 20191127
ex1 division by zero 000030 20191126
ex1 division by zero 000030 20191125
ex1 division by zero 000030 20191122
ex1 division by zero 000030 20191121
ex1 division by zero 000030 20191120
ex1 division by zero 000030 20191119
ex1 division by zero 000030 20191118
ex1 division by zero 000030 20191115
ex1 division by zero 000030 20191114
ex1 division by zero 000030 20191113
ex1 division by zero 000030 20191112
ex1 division by zero 000030 20191111
ex1 division by zero 000030 20191108
ex1 division by zero 000030 20191107
ex1 division by zero 000030 20191106
ex1 division by zero 000030 20191105
ex1 division by zero 000030 20191104
ex1 division by zero 000030 20191101
ex1 division by zero 000030 20191031
ex1 division by zero 000030 20191030
ex1 division by zero 000030 20191029
ex1 division by zero 000030 20191028
ex1 division by zero 000030 20191025
ex1 division by zero 000030 20191024
ex1 division by zero 000030 20191023
ex1 division by zero 000030 20191022
ex1 division by zero 000030 20191021
ex1 division by zero 000030 20191018
ex1 division by zero 000030 20191017
ex1 division by zero 000030 20191016
ex1 division by zero 000030 20191015
ex1 division by zero 000030 20191014
ex1 division by zero 000030 20191011
ex1 division by zero 000030 20191010
ex1 division by zero 000030 20191008
ex1 division by zero 000030 20191007
ex1 division by zero 000030 20191004
ex1 division by zero 000030 20191002
ex1 division by zero 000030 20191001
ex1 division by zero 000030 20190930
ex1 division by zero 000030 20190927
ex1 division by zero 000030 20190926
ex1 division by zero 000030 20190925
ex1 division by zero 000030 20190924
ex1 division by zero 000030 20190923
ex1 division by zero 000030 20190920
ex1 division by zero 000030 20190919
ex1 division by zero 000030 20190918
ex1 division by zero 000030 20190917
ex1 division by zero 000030 20190916
ex1 division by zero 000030 20190911
ex1 division by zero 000030 20190910
ex1 division by zero 000030 20190909
ex1 division by zero 000030 20190906
ex1 division by zero 000030 20190905
ex1 division by zero 000030 20190904
ex1 division by zero 000030 20190903
ex1 division by zero 000030 20190902
ex1 division by zero 000030 20190830
ex1 division by zero 000030 20190829
ex1 division by zero 000030 20190828
ex1 division by zero 000030 20190827
ex1 division by zero 000030 20190826
ex1 division by zero 000030 20190823
ex1 division by zero 000030 20190822
ex1 division by zero 000030 20190821
ex1 division by zero 000030 20190820
ex1 division by zero 000030 20190819
ex1 division by zero 000030 20190816
ex1 division by zero 000030 20190814
ex1 division by zero 000030 20190813
ex1 division by zero 000030 20190812
ex1 division by zero 000030 20190809
ex1 division by zero 000030 20190808

C:\Users\LGCNS\AppData\Local\Temp/ipykernel_3948/865323635.py:54: RuntimeWarning: invalid value encountered in longlong_scalars
  MFI = positiveRMF / (positiveRMF + negativeRMF) * 100

ex1 division by zero 000040 20200218
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`mfi`.`mfi` at row 1") 000040 20200217
ex1 division by zero 000150 20191017
ex1 division by zero 000150 20191016
ex1 division by zero 000150 20191015
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`mfi`.`mfi` at row 1") 000150 20191014
ex1 division by zero 000155 20191017
ex1 division by zero 000155 20191016
ex1 division by zero 000155 20191015
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`mfi`.`mfi` at row 1") 000155 20191014
ex1 division by zero 000157 20191017
ex1 division by zero 000157 20191016
ex1 division by zero 000157 20191015
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`mfi`.`mfi` at row 1") 000157 20191014
ex1 division by zero 000210 20210122
ex1 division by zero 000210 20210121
ex1 division by zero 000210 20210120
ex1 division by zero 000210 20210119
ex1 division by zero 000210 20210118
ex1 division by zero 000210 20210115
ex1 division by zero 000210 20210114
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`mfi`.`mfi` at row 1") 000210 20210113
ex1 division by zero 000215 20210122
ex1 division by zero 000215 20210121
ex1 division by zero 000215 20210120
ex1 division by zero 000215 20210119
ex1 division by zero 000215 20210118
ex1 division by zero 000215 20210115
ex1 division by zero 000215 20210114
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`mfi`.`mfi` at row 1") 000215 20210113
ex1 division by zero 001020 20200323
ex1 division by zero 001020 20200320
ex1 division by zero 001020 20200319
ex1 division by zero 001020 20200318
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`mfi`.`mfi` at row 1") 001020 20200317
ex1 division by zero 001210 20191024
ex1 division by zero 001210 20191023
ex1 division by zero 001210 20191022
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`mfi`.`mfi` at row 1") 001210 20191021
ex1 division by zero 001770 20200324
ex1 division by zero 001770 20200323
ex1 division by zero 001770 20200320
ex1 division by zero 001770 20200319
ex1 division by zero 001770 20200318
ex1 division by zero 001770 20200317
ex1 division by zero 001770 20200316
ex1 division by zero 001770 20200313
ex1 division by zero 001770 20200312
ex1 division by zero 001770 20200311
ex1 division by zero 001770 20200310
ex1 division by zero 001770 20200309
ex1 division by zero 001770 20200306
ex1 division by zero 001770 20200305
ex1 division by zero 001770 20200304
ex1 division by zero 001770 20200303
ex1 division by zero 001770 20200302
ex1 division by zero 001770 20200228
ex1 division by zero 001770 20200227
ex1 division by zero 001770 20200226
ex1 division by zero 001770 20200225
ex1 division by zero 001770 20200224
ex1 division by zero 001770 20200221
ex1 division by zero 001770 20200220
ex1 division by zero 001770 20200219
ex1 division by zero 001770 20200218
ex1 division by zero 001770 20200217
ex1 division by zero 001770 20200214
ex1 division by zero 001770 20200213
ex1 division by zero 001770 20200212
ex1 division by zero 001770 20200211
ex1 division by zero 001770 20200210
ex1 division by zero 001770 20200207
ex1 division by zero 001770 20200206
ex1 division by zero 001770 20200205
ex1 division by zero 001770 20200204
ex1 division by zero 001770 20200203
ex1 division by zero 001770 20200131
ex1 division by zero 001770 20200130
ex1 division by zero 001770 20200129
ex1 division by zero 001770 20200128
ex1 division by zero 001770 20200123
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`mfi`.`mfi` at row 1") 001770 20200122
ex1 division by zero 001799 20211018
ex1 division by zero 001799 20211015
ex1 division by zero 001799 20211014
ex1 division by zero 001799 20211013
ex1 division by zero 001799 20211012
ex1 division by zero 001799 20211008
ex1 division by zero 001799 20211007
ex1 division by zero 001799 20211006
ex1 division by zero 001799 20211005
ex1 division by zero 001799 20211001
ex1 division by zero 001799 20210930
ex1 division by zero 001799 20210929
ex1 division by zero 001799 20210928
ex1 division by zero 001799 20210927
ex1 division by zero 001799 20210924
ex1 division by zero 001799 20210923
ex1 division by zero 001799 20210917
ex1 division by zero 001799 20210916
ex1 division by zero 001799 20210915
ex1 division by zero 001799 20210914
ex1 division by zero 001799 20210913
ex1 division by zero 001799 20210910
ex1 division by zero 001799 20210909
ex1 division by zero 001799 20210908
ex1 division by zero 001799 20210907
ex1 division by zero 001799 20210906
ex1 division by zero 001799 20210903
ex1 division by zero 001799 20210902
ex1 division by zero 001799 20210901
ex1 division by zero 001799 20210831
ex1 division by zero 001799 20210830
ex1 division by zero 001799 20210827
ex1 division by zero 001799 20210826
ex1 division by zero 001799 20210825
ex1 division by zero 001799 20210824
ex1 division by zero 001799 20210823
ex1 division by zero 001799 20210820
ex1 division by zero 001799 20210819
ex1 division by zero 001799 20210818
ex1 division by zero 001799 20210817
ex1 division by zero 001799 20210813
ex1 division by zero 001799 20210812
ex1 division by zero 001799 20210811
ex1 division by zero 001799 20210810
ex1 division by zero 001799 20210809
ex1 division by zero 001799 20210806
ex1 division by zero 001799 20210805
ex1 division by zero 001799 20210804
ex1 division by zero 001799 20210803
ex1 division by zero 001799 20210802
ex1 division by zero 001799 20210730
ex1 division by zero 001799 20210729
ex1 division by zero 001799 20210728
ex1 division by zero 001799 20210727
ex1 division by zero 001799 20210726
ex1 division by zero 001799 20210723
ex1 division by zero 001799 20210722
ex1 division by zero 001799 20210721
ex1 division by zero 001799 20210720
ex1 division by zero 001799 20210719
ex1 division by zero 001799 20210716
ex1 division by zero 001799 20210715
ex1 division by zero 001799 20210714
ex1 division by zero 001799 20210713
ex1 division by zero 001799 20210712
ex1 division by zero 001799 20210709
ex1 division by zero 001799 20210708
ex1 division by zero 001799 20210707
ex1 division by zero 001799 20210706
ex1 division by zero 001799 20210705
ex1 division by zero 001799 20210702
ex1 division by zero 001799 20210701
ex1 division by zero 001799 20210630
ex1 division by zero 001799 20210629
ex1 division by zero 001799 20210628
ex1 division by zero 001799 20210625
ex1 division by zero 001799 20210624
ex1 division by zero 001799 20210623
ex1 division by zero 001799 20210622
ex1 division by zero 001799 20210621
ex1 division by zero 001799 20210618
ex1 division by zero 001799 20210617
ex1 division by zero 001799 20210616
ex1 division by zero 001799 20210615
ex1 division by zero 001799 20210614
ex1 division by zero 001799 20210611
ex1 division by zero 001799 20210610
ex1 division by zero 001799 20210609
ex1 division by zero 001799 20210608
ex1 division by zero 001799 20210607
ex1 division by zero 001799 20210604
ex1 division by zero 001799 20210603
ex1 division by zero 001799 20210602
ex1 division by zero 001799 20210601
ex1 division by zero 001799 20210531
ex1 division by zero 001799 20210528
ex1 division by zero 001799 20210527
ex1 division by zero 001799 20210526
ex1 division by zero 001799 20210525
ex1 division by zero 001799 20210524
ex1 division by zero 001799 20210521
ex1 division by zero 001799 20210520
ex1 division by zero 001799 20210518
ex1 division by zero 001799 20210517
ex1 division by zero 001799 20210514
ex1 division by zero 001799 20210513
ex1 division by zero 001799 20210512
ex1 division by zero 001799 20210511
ex1 division by zero 001799 20210510
ex1 division by zero 001799 20210507
ex1 division by zero 001799 20210506
ex1 division by zero 001799 20210504
ex1 division by zero 001799 20210503
ex1 division by zero 001799 20210430
ex1 division by zero 001799 20210429
ex1 division by zero 001799 20210428
ex1 division by zero 001799 20210427
ex1 division by zero 001799 20210426
ex1 division by zero 001799 20210423
ex1 division by zero 001799 20210422
ex1 division by zero 001799 20210421
ex1 division by zero 001799 20210420
ex1 division by zero 001799 20210419
ex1 division by zero 001799 20210416
ex1 division by zero 001799 20210415
ex1 division by zero 001799 20210414
ex1 division by zero 001799 20210413
ex1 division by zero 001799 20210412
ex1 division by zero 001799 20210409
ex1 division by zero 001799 20210408
ex1 division by zero 001799 20210407
ex1 division by zero 001799 20210406
ex1 division by zero 001799 20210405
ex1 division by zero 001799 20210402
ex1 division by zero 001799 20210401
ex1 division by zero 001799 20210331
ex1 division by zero 001799 20210330
ex1 division by zero 001799 20210329
ex1 division by zero 001799 20210326
ex1 division by zero 001799 20210325
ex1 division by zero 001799 20210324
ex1 division by zero 001799 20210323
ex1 division by zero 001799 20210322
ex1 division by zero 001799 20210319
ex1 division by zero 001799 20210318
ex1 division by zero 001799 20210317
ex1 division by zero 001799 20210316
ex1 division by zero 001799 20210315
ex1 division by zero 001799 20210312
ex1 division by zero 001799 20210311
ex1 division by zero 001799 20210310
ex1 division by zero 001799 20210309
ex1 division by zero 001799 20210308
ex1 division by zero 001799 20210305
ex1 division by zero 001799 20210304
ex1 division by zero 001799 20210303
ex1 division by zero 001799 20210302
ex1 division by zero 001799 20210226
ex1 division by zero 001799 20210225
ex1 division by zero 001799 20210224
ex1 division by zero 001799 20210223
ex1 division by zero 001799 20210222
ex1 division by zero 001799 20210219
ex1 division by zero 001799 20210218
ex1 division by zero 001799 20210217
ex1 division by zero 001799 20210216
ex1 division by zero 001799 20210215
ex1 division by zero 001799 20210210
ex1 division by zero 001799 20210209
ex1 division by zero 001799 20210208
ex1 division by zero 001799 20210205
ex1 division by zero 001799 20210204
ex1 division by zero 001799 20210203
ex1 division by zero 001799 20210202
ex1 division by zero 001799 20210201
ex1 division by zero 001799 20210129
ex1 division by zero 001799 20210128
ex1 division by zero 001799 20210127
ex1 division by zero 001799 20210126
ex1 division by zero 001799 20210125
ex1 division by zero 001799 20210122
ex1 division by zero 001799 20210121
ex1 division by zero 001799 20210120
ex1 division by zero 001799 20210119
ex1 division by zero 001799 20210118
ex1 division by zero 001799 20210115
ex1 division by zero 001799 20210114
ex1 division by zero 001799 20210113
ex1 division by zero 001799 20210112
ex1 division by zero 001799 20210111
ex1 division by zero 001799 20210108
ex1 division by zero 001799 20210107
ex1 division by zero 001799 20210106
ex1 division by zero 001799 20210105
ex1 division by zero 001799 20210104
ex1 division by zero 001799 20201230
ex1 division by zero 001799 20201229
ex1 division by zero 001799 20201228
ex1 division by zero 001799 20201224
ex1 division by zero 001799 20201223
ex1 division by zero 001799 20201222
ex1 division by zero 001799 20201221
ex1 division by zero 001799 20201218
ex1 division by zero 001799 20201217
ex1 division by zero 001799 20201216
ex1 division by zero 001799 20201215
ex1 division by zero 001799 20201214
ex1 division by zero 001799 20201211
ex1 division by zero 001799 20201210
ex1 division by zero 001799 20201209
ex1 division by zero 001799 20201208
ex1 division by zero 001799 20201207
ex1 division by zero 001799 20201204
ex1 division by zero 001799 20201203
ex1 division by zero 001799 20201202
ex1 division by zero 001799 20201201
ex1 division by zero 001799 20201130
ex1 division by zero 001799 20201127
ex1 division by zero 001799 20201126
ex1 division by zero 001799 20201125
ex1 division by zero 001799 20201124
ex1 division by zero 001799 20201123
ex1 division by zero 001799 20201120
ex1 division by zero 001799 20201119
ex1 division by zero 001799 20201118
ex1 division by zero 001799 20201117
ex1 division by zero 001799 20201116
ex1 division by zero 001799 20201113
ex1 division by zero 001799 20201112
ex1 division by zero 001799 20201111
ex1 division by zero 001799 20201110
ex1 division by zero 001799 20201109
ex1 division by zero 001799 20201106
ex1 division by zero 001799 20201105
ex1 division by zero 001799 20201104
ex1 division by zero 001799 20201103
ex1 division by zero 001799 20201102
ex1 division by zero 001799 20201030
ex1 division by zero 001799 20201029
ex1 division by zero 001799 20201028
ex1 division by zero 001799 20201027
ex1 division by zero 001799 20201026
ex1 division by zero 001799 20201023
ex1 division by zero 001799 20201022
ex1 division by zero 001799 20201021
ex1 division by zero 001799 20201020
ex1 division by zero 001799 20201019
ex1 division by zero 001799 20201016
ex1 division by zero 001799 20201015
ex1 division by zero 001799 20201014
ex1 division by zero 001799 20201013
ex1 division by zero 001799 20201012
ex1 division by zero 001799 20201008
ex1 division by zero 001799 20201007
ex1 division by zero 001799 20201006
ex1 division by zero 001799 20201005
ex1 division by zero 001799 20200929
ex1 division by zero 001799 20200928
ex1 division by zero 001799 20200925
ex1 division by zero 001799 20200924
ex1 division by zero 001799 20200923
ex1 division by zero 001799 20200922
ex1 division by zero 001799 20200921
ex1 division by zero 001799 20200918
ex1 division by zero 001799 20200917
ex1 division by zero 001799 20200916
ex1 division by zero 001799 20200915
ex1 division by zero 001799 20200914
ex1 division by zero 001799 20200911
ex1 division by zero 001799 20200910
ex1 division by zero 001799 20200909
ex1 division by zero 001799 20200908
ex1 division by zero 001799 20200907
ex1 division by zero 001799 20200904
ex1 division by zero 001799 20200903
ex1 division by zero 001799 20200902
ex1 division by zero 001799 20200901
ex1 division by zero 001799 20200831
ex1 division by zero 001799 20200828
ex1 division by zero 001799 20200827
ex1 division by zero 001799 20200826
ex1 division by zero 001799 20200825
ex1 division by zero 001799 20200824
ex1 division by zero 001799 20200821
ex1 division by zero 001799 20200820
ex1 division by zero 001799 20200819
ex1 division by zero 001799 20200818
ex1 division by zero 001799 20200814
ex1 division by zero 001799 20200813
ex1 division by zero 001799 20200812
ex1 division by zero 001799 20200811
ex1 division by zero 001799 20200810
ex1 division by zero 001799 20200807
ex1 division by zero 001799 20200806
ex1 division by zero 001799 20200805
ex1 division by zero 001799 20200804
ex1 division by zero 001799 20200803
ex1 division by zero 001799 20200731
ex1 division by zero 001799 20200730
ex1 division by zero 001799 20200729
ex1 division by zero 001799 20200728
ex1 division by zero 001799 20200727
ex1 division by zero 001799 20200724
ex1 division by zero 001799 20200723
ex1 division by zero 001799 20200722
ex1 division by zero 001799 20200721
ex1 division by zero 001799 20200720
ex1 division by zero 001799 20200717
ex1 division by zero 001799 20200716
ex1 division by zero 001799 20200715
ex1 division by zero 001799 20200714
ex1 division by zero 001799 20200713
ex1 division by zero 001799 20200710
ex1 division by zero 001799 20200709
ex1 division by zero 001799 20200708
ex1 division by zero 001799 20200707
ex1 division by zero 001799 20200706
ex1 division by zero 001799 20200703
ex1 division by zero 001799 20200702
ex1 division by zero 001799 20200701
ex1 division by zero 001799 20200630
ex1 division by zero 001799 20200629
ex1 division by zero 001799 20200626
ex1 division by zero 001799 20200625
ex1 division by zero 001799 20200624
ex1 division by zero 001799 20200623
ex1 division by zero 001799 20200622
ex1 division by zero 001799 20200619
ex1 division by zero 001799 20200618
ex1 division by zero 001799 20200617
ex1 division by zero 001799 20200616
ex1 division by zero 001799 20200615
ex1 division by zero 001799 20200612
ex1 division by zero 001799 20200611
ex1 division by zero 001799 20200610
ex1 division by zero 001799 20200609
ex1 division by zero 001799 20200608
ex1 division by zero 001799 20200605
ex1 division by zero 001799 20200604
ex1 division by zero 001799 20200603
ex1 division by zero 001799 20200602
ex1 division by zero 001799 20200601
ex1 division by zero 001799 20200529
ex1 division by zero 001799 20200528
ex1 division by zero 001799 20200527
ex1 division by zero 001799 20200526
ex1 division by zero 001799 20200525
ex1 division by zero 001799 20200522
ex1 division by zero 001799 20200521
ex1 division by zero 001799 20200520
ex1 division by zero 001799 20200519
ex1 division by zero 001799 20200518
ex1 division by zero 001799 20200515
ex1 division by zero 001799 20200514
ex1 division by zero 001799 20200513
ex1 division by zero 001799 20200512
ex1 division by zero 001799 20200511
ex1 division by zero 001799 20200508
ex1 division by zero 001799 20200507
ex1 division by zero 001799 20200506
ex1 division by zero 001799 20200504
ex1 division by zero 001799 20200429
ex1 division by zero 001799 20200428
ex1 division by zero 001799 20200427
ex1 division by zero 001799 20200424
ex1 division by zero 001799 20200423
ex1 division by zero 001799 20200422
ex1 division by zero 001799 20200421
ex1 division by zero 001799 20200420
ex1 division by zero 001799 20200417
ex1 division by zero 001799 20200416
ex1 division by zero 001799 20200414
ex1 division by zero 001799 20200413
ex1 division by zero 001799 20200410
ex1 division by zero 001799 20200409
ex1 division by zero 001799 20200408
ex1 division by zero 001799 20200407
ex1 division by zero 001799 20200406
ex1 division by zero 001799 20200403
ex1 division by zero 001799 20200402
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`mfi`.`mfi` at row 1") 001799 20200401
ex1 division by zero 002070 20200820
ex1 division by zero 002070 20200819
ex1 division by zero 002070 20200818
ex1 (1366, "Incorrect double value: 'nan' for column `INDEX_DUCK`.`mfi`.`mfi` at row 1") 002070 20200814
ex1 division by zero 002250 20211018
ex1 division by zero 002250 20211015
ex1 division by zero 002250 20211014
ex1 division by zero 002250 20211013
ex1 division by zero 002250 20211012
ex1 division by zero 002250 20211008
ex1 division by zero 002250 20211007
ex1 division by zero 002250 20211006
ex1 division by zero 002250 20211005
ex1 division by zero 002250 20211001
ex1 division by zero 002250 20210930
ex1 division by zero 002250 20210929
ex1 division by zero 002250 20210928
ex1 division by zero 002250 20210927
ex1 division by zero 002250 20210924
ex1 division by zero 002250 20210923
ex1 division by zero 002250 20210917
ex1 division by zero 002250 20210916
ex1 division by zero 002250 20210915
ex1 division by zero 002250 20210914
ex1 division by zero 002250 20210913
ex1 division by zero 002250 20210910
ex1 division by zero 002250 20210909
ex1 division by zero 002250 20210908
ex1 division by zero 002250 20210907
ex1 division by zero 002250 20210906
ex1 division by zero 002250 20210903
ex1 division by zero 002250 20210902
ex1 division by zero 002250 20210901
ex1 division by zero 002250 20210831
ex1 division by zero 002250 20210830
ex1 division by zero 002250 20210827
ex1 division by zero 002250 20210826
ex1 division by zero 002250 20210825
ex1 division by zero 002250 20210824
ex1 division by zero 002250 20210823
ex1 division by zero 002250 20210820
ex1 division by zero 002250 20210819
ex1 division by zero 002250 20210818
ex1 division by zero 002250 20210817
ex1 division by zero 002250 20210813
ex1 division by zero 002250 20210812
ex1 division by zero 002250 20210811
ex1 division by zero 002250 20210810
ex1 division by zero 002250 20210809
ex1 division by zero 002250 20210806
ex1 division by zero 002250 20210805
ex1 division by zero 002250 20210804
ex1 division by zero 002250 20210803
ex1 division by zero 002250 20210802
ex1 division by zero 002250 20210730
ex1 division by zero 002250 20210729
ex1 division by zero 002250 20210728

# bollinger squeeze back test

In [ ]:
import pandas as pd
import pymysql
import datetime

ADDR = '192.168.56.100'
PORT = '3306'
DB = 'INDEX_DUCK'
ID = 'root'
# PW = 'root'
PW = 'test'

db = pymysql.connect(host=ADDR, port=int(PORT), user=ID, passwd=PW, db=DB, charset='utf8')
cursor = db.cursor()

try:
  getTickersSql = "SELECT DISTINCT ticker FROM stocks_price"
  cursor.execute(getTickersSql)
  tickers = list(cursor.fetchall())

  getPeriodSql = "SELECT DISTINCT date FROM stocks_price ORDER BY date"
  cursor.execute(getPeriodSql)
  period = list(cursor.fetchall())

  for ticker in tickers:
    for date in period:
      # print(ticker[0], date[0].strftime("%Y%m%d"))
      try:
        getLast10InfoSql = "SELECT * FROM stocks_price WHERE ticker = '" + ticker[0] + "' AND date <= '" + date[0].strftime("%Y%m%d") + "' ORDER BY date DESC limit " + str(day + 1)
        cursor.execute(getLast10InfoSql)
        last10InfoDf = pd.DataFrame(cursor.fetchall())
        if len(last10InfoDf.index) < day + 1:
          continue
        tpList = []
        for idx in last10InfoDf.index:
          info = last10InfoDf.loc[idx]
          tpList.append(round((info[3] + info[4] + info[5]) / 3))
        last10InfoDf['TP'] = tpList

        positiveRMF = 0
        negativeRMF = 0
        for idx in range(0, len(last10InfoDf) - 1):
          today = last10InfoDf.iloc[idx]
          yesterday = last10InfoDf.iloc[idx + 1]
          if today['TP'] > yesterday['TP']:
            # positive
            positiveRMF += today['TP'] * today[6]
          elif today['TP'] < yesterday['TP']:
            # negative
            negativeRMF += today['TP'] * today[6]
        
        MFI = positiveRMF / (positiveRMF + negativeRMF) * 100
        todayInfo = last10InfoDf.iloc[0, [0, 1, 7]]

        insertBollSql = "REPLACE INTO mfi(date, ticker, period, tp, mfi) VALUES(%s, %s, %s, %s, %s)"
        cursor.execute(insertBollSql, (todayInfo[0], todayInfo[1], day, todayInfo['TP'], MFI))
        db.commit()
      except Exception as ex1:
        print('ex1', ex1, ticker[0], date[0].strftime("%Y%m%d"))
        pass
except Exception as ex2:
  print('ex2', ex2)
  pass

db.close()